.products {
  width: 80%;
  margin: auto;
}

.tabs {
  width: 60%;
  height: 2rem;
  line-height: 2rem;
  margin: 20px auto;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}
.subtab {
  width: 10rem;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}

.on {
  color: #1ad1b9;
  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
}

.products ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
